.seeYouSoon {
    width: 480px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}

.button {
    margin-top: 24px;
    width: 200px;
} 