.header {
  margin: 0 auto;
  width: 100%;
  background: var(--background);
  position: fixed;
  z-index: 999;
}

.headerWrapper {
  width: 100%;
  max-width: 1440px;
  padding: 20px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo svg {
  display: block;
}

@media (max-width: 1024px) {
  .hours,
  .phoneMobileHide {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
    white-space: nowrap !important;
  }
  .cta.cta {
    gap: 12px;
  }
  .cta .menuButton,
  button.menuButton {
    display: inline-flex;
  }

  .headerWrapper.headerWrapper {
    padding: 20px 16px;
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.hours {
  color: var(--foreground);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

button.menuButton {
  display: none;
  background: none;
}

.menuButton {
  display: none;
}

.menuToggle {
  display: none;
}

.menuLabel {
  cursor: pointer;
  user-select: none;
}

.phoneButton {
  display: none !important;
}

@media (min-width: 1025px) {
  .menuButton {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .menuButton {
    display: inline-flex;
  }
  .phoneMobileHide {
    display: none;
  }

  .menuToggle:checked ~ .cta .menuLabel::before {
    content: 'Close';
  }

  .menuToggle:not(:checked) ~ .cta .menuLabel::before {
    content: 'Menu';
  }

  .menuToggle:checked ~ div[class*="navbarWrapper"] {
    display: block;
  }

  .phoneButton.phoneButton {
    width: 64px;
    height: 64px;
    display: inline-flex !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 100000px;
    padding: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
  }
  .phoneButton span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
