.mountingTypes {
    /* padding: 60px 0; */
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 60px;
}

@media (max-width: 600px) {
    .cardsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-top: 32px;
    }
}