.mountingTypes {
    /* padding: 60px 0; */
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 60px;
}

@media (max-width: 600px) {
    .cardsGrid {
        grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
    }
}