.faq {
}

.faqHeader {
}

.faqContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.faqItem {
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 20px;
}

.faqItem:last-child {
  border-bottom: none;
}

.faqQuestionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27B44F;
  position: relative;
}

.plusIcon {
  display: block;
}

.minusIcon {
  display: none;
}

.faqToggle {
  display: none;
}

.faqQuestion {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.faqAnswerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, margin-top 0.3s ease-out;
  margin-top: 0;
}

.faqToggle:checked + .faqQuestionContainer .plusIcon {
  display: none;
}
.faqToggle:checked + .faqQuestionContainer .minusIcon {
  display: block;
}
.faqToggle:checked + .faqQuestionContainer .faqQuestion {
  color: #0e0e13;
}
.faqToggle:checked + .faqQuestionContainer + .faqAnswerWrapper {
  max-height: 200px; /* Adjust as needed */
  margin-top: 8px;
}

@media (max-width: 1024px) {
    .faqQuestion {
        font-size: 16px;
        line-height: 24px;
    }
    .faqAnswerWrapper {
          font-size: 14px;
          line-height: 20px;
    }
  } 
  