.hero {
  padding-bottom: 0;
}

.heroContainer {
  align-items: center;
  text-align: center;
}

.mainHeading {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  /* letter-spacing: -2px; */
  color: var(--foreground);
}


.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px; /* Adjust spacing as needed */
}


.badgesWrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 900px) {
  .mainHeading {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (max-width: 600px) {
  .mainHeading {
    font-size: 32px;
    line-height: 40px;
  }
  .subText {
    font-size: 16px;
    line-height: 20px;
  }
  .buttonWrapper {
    flex-direction: column;
    gap: 16px;
  }
} 