.photoCard {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  height: 480px;
  box-sizing: border-box;
  overflow: hidden; /* To ensure image corners are rounded */
}

.photoCard.photoCell {
  width: 372px;
  height: 280px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .photoCard {
    width: 212px;
    height: 304px;
  }
  .photoCard.photoCell {
    width: 181px;
    height: 181px;
  }
}