.card {
  height: 120px;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: var(--foreground);
  border: 1px solid var(--gray-light);
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  /* max-width: 177px; */
  position: relative;
}

.selected {
  background-color: var(--foreground);
  color: var(--white);
  border: none;
}

.label {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  font-weight: 600;
}

.description {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary);
  margin-top: 4px;
  margin-bottom: 36px;
}

.price {
  position: absolute;
  bottom: 17px;
  right: 0;
  background-color: #E7E7EB;
  color: var(--foreground);
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
}

.selected .price {
  background-color: #353535;
  color: #fff;
}

.checkMark {
  position: absolute;
  right: -17px;
  top: -12px;
  z-index: 9;
  display: none;
}

.selected .checkMark {
  display: inline-block;
}

.subtitle {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary);
}

.info {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 9;
  color: white;
}

.card.showInfo {
  height: fit-content;
  min-height: 120px;
  z-index: 9;
  background: white;
}

.card.showInfo.selected {
  background: var(--foreground);
}

.selected .info {
  color: var(--foreground);
}
