.careersCard {
  background-color: var(--white);
  border: 1px solid var(--gray-extra-light);
  border-radius: 20px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .careersCard {
    padding: 40px;
  }
}

