:root {
  --background: #f6f6f8; /* main light background from Figma */
  --foreground: #0e0e13; /* main dark color (text, icons) */
  --white: #ffffff;      /* white (cards, buttons) */
  --gray-light: #dbdbdf; /* light gray (borders) */
  --gray: #91929c;       /* gray (borders, elements) */
  --gray-medium: #6B6A73; /* new gray medium color */
  --green: #27b44f;      /* green (button) */
  --green-hover: #1f903f; /* green hover (button) */
  --gray-extra-light: #e7e7eb; /* extra light gray (button disabled, border hover) */
  --text-secondary: var(--gray);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Red Hat Display', var(--font-red-hat-display), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.blockHeading {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  color: var(--foreground);
}

.subText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--foreground);
  margin-top: 20px;
}

.blockContainer {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 60px 20px;
}

@media (max-width: 1024px) {
  .subText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .block {
    padding: 40px 16px;
  }
  .blockHeading {
    font-size: 28px;
    line-height: 36px;
  }
}