.modalContent {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    background: #000;
}

.videoWrapper.isVertical {
    padding-bottom: 177.77%;
    /* 9:16 */
    max-width: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .modalContent {
        max-width: 100%;
    }

    .videoWrapper {
        border-radius: 0;
    }
}