.priceSummaryContainer {
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 100%;
  overflow: auto;
}

.scrollableContent {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: #0e0e13;
  margin-bottom: 10px;
}

.tvSizeGroup,
.addonsGroup,
.discountGroup {
}

.tvSizeTitle,
.groupTitle {
  font-weight: 700;
  font-size: 14px;
  color: #0e0e13;
  margin-bottom: 10px;
}

.breakdownList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.breakdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemLabel {
  font-weight: 400;
  font-size: 14px;
  color: #0e0e13;
}

.itemCost {
  font-weight: 700;
  font-size: 14px;
  color: #0e0e13;
}

.discountSection {
  padding-top: 10px;
  border-top: 1px solid #e0e0e0; /* Separator for discount section */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.discountCost {
  color: #27b44f; /* Green color for discount */
}

.estimatedTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid var(--gray-light);
}

/* Removed redundant border and padding from .discountGroup */
.discountGroup {
  padding-top: 15px; /* Add padding here for consistent spacing */
  border-top: 1px solid #e0e0e0; /* Explicitly set border here */
}

.estimatedLabel {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0e0e13;
}

.totalAmount {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0e0e13;
}

.termsText {
  margin-top: 24px;
  text-align: center;
  color: var(--text-secondary);
  font-size: 12px;
  line-height: 16px;
}

.darkMode .title,
.darkMode .tvSizeTitle,
.darkMode .groupTitle,
.darkMode .itemLabel,
.darkMode .itemCost,
.darkMode .estimatedLabel,
.darkMode .totalAmount {
  color: white;
}

.darkMode .termsText {
  color: #ccc; /* lighter secondary */
}

.darkMode .estimatedTotal {
  border-top-color: #333;
}

.darkMode .discountGroup {
  border-top-color: #333;
}

@media (max-width: 980px) {
  .lastStep .estimatedTotal {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}