.serviceCard {
    border: 1px solid #e7e7eb;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    align-items: center;
    min-height: 280px;
    font-weight: 600;
}


.imageContainer {
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--foreground);
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray);
}

.hiddenButton {
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
    display: none;
}


.sendIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    /* transition: opacity 0.3s ease, visibility 0.3s ease; */
}

.invisibleButton {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    display: none;
}

@media (hover: hover) {
    .serviceCard:hover .sendIcon {
        opacity: 0;
        visibility: hidden;
    }
    .serviceCard:hover .hiddenButton {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
    .serviceCard:hover {
        background-color: white;
        /* This will be handled by specific text classes */
        box-shadow:
            0px 5px 11px 0px #0000001f,
            0px 19px 19px 0px #00000017,
            0px 44px 26px 0px #00000014,
            0px 78px 31px 0px #0000000a,
            0px 121px 34px 0px #00000005;
        border: white;
    }
    .serviceCard:hover .description {
        display: none;
    }
}

@media (pointer: coarse) {
    .invisibleButton {
        display: block;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .description {
        font-size: 14px;
        display: none;
    }
    .serviceCard {
        padding: 16px;
        min-height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        height: 120px;
        border-radius: 12px;
    }
    .info.info {
        display: inline-block;
    }
    .imageContainer {
        display: none;
        visibility: hidden;
    }
    .title {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
    .isShowInfo .description {
        display: inline;
    }
    .isShowInfo {
        background-color: white;
        height: fit-content;
        padding-bottom: 52px;
        z-index: 10;
        box-shadow:
            0px 5px 11px 0px #0000001f,
            0px 19px 19px 0px #00000017,
            0px 44px 26px 0px #00000014,
            0px 78px 31px 0px #0000000a,
            0px 121px 34px 0px #00000005;
    }
    .price.price {
        bottom: 17px;
        right: 0;
        padding: 4px 8px;
        border-radius: 4px 0 0 4px;
        top: auto;
        left: auto;
    }
}

.info {
    display: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 9;
    color: white;
}

.price {
  position: absolute;
  top: 36px;
  left: 0;
  background-color: #E7E7EB;
  color: var(--foreground);
  border-radius: 0 4px 4px 0;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 600;
}