.bestQuote {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  border-radius: none;
  flex: 1;
  align-items: flex-start;
}

.showMobile {
  display: none;
}

.bestQuoteModalcontent {
  border-radius: 0 !important;
  height: 100vh;
  width: 100vw;
}

.bestQuoteHeader {
  width: 100%;
  margin-bottom: 40px;
}

.banner {
  width: 100%;
  border-radius: 16px;
  padding: 22px 20px;
  color: var(--white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("/modalBanerBg.webp");
  flex-direction: column;
  text-align: center;
}

.titleSummary {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.saleSize {
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
}

.saleText {
  text-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.saleText b {
  font-weight: 700;
}

.servicesContainer {
  padding: 4px;
  /* border: 1px solid #e7e7eb; */
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 121px 34px 0px rgba(0, 0, 0, 0%), 0px 78px 31px 0px rgba(0, 0, 0, 1%), 0px 44px 24px 0px rgba(0, 0, 0, 4%), 0px 19px 19px 0px rgba(0, 0, 0, 6%), 0px 5px 11px 0px rgba(0, 0, 0, 7%);
  display: flex;
  flex-direction: column;
  max-width: 356px;
}

.servicesHeading {
  font-weight: 500;
  font-size: 20px;
  color: #0e0e13;
  margin-bottom: 20px;
}

.serviceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f2;
}

.serviceItem:last-child {
  border-bottom: none;
}

.serviceName {
  font-weight: 500;
  font-size: 14px;
  color: #0e0e13;
}

.servicePrice {
  font-weight: 400;
  font-size: 12px;
  color: #91929c;
}

.bestQuoteMain {
  flex: 1;
  /* max-width: 844px; */
  margin: 0 auto;
  padding: 20px;
  max-width: 736px;
  overflow: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.quoteSummary {
  padding: 20px;
  flex: 1;
}

.progressContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
  margin-top: 20px;
}

.footerSummary {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  padding: 20px;
}

.subSummaryText {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: var(--text-secondary);
}


.priceWrapper {
  /* flex: 1; */
  overflow: auto;
}

.tempWrapp {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mobilePriceSummary {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--foreground);
  border-radius: 12px;
  padding: 19px 16px;
  color: white;
  display: none;
  z-index: 10;
  bottom: 18px;
  left: 20px;
  right: 0;
  width: calc(100% - 40px);
}

.mobilePriceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.mobilePriceHeader.center {
  justify-content: center;
}

.mobilePriceLabel {
  font-weight: 700;
  margin-right: 8px;
}

.mobilePriceAmount {
  font-weight: 700;
  color: var(--text-secondary);
}

.expandIcon {
  transition: transform 0.3s ease;
  font-size: 12px;
}

.expandIcon.expanded {
  transform: rotate(180deg);
}

.mobilePriceDetails {
  padding: 0 20px 20px;
}

.mobilePriceExpanded {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--foreground);
  color: white;
  padding: 20px;
  overflow: auto;
  z-index: 1000000000;
  animation: slideUp 0.3s ease;
  border-radius: 24px 24px 0 0;
}

.expandedHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.space {
  flex-grow: 1;
}

@media (max-width: 980px) {

  .bestQuoteModalcontent {
    padding: 0;
  }

  .mobilePriceSummary {
    display: block;
  }

  .space {
    flex-grow: 0;
  }

  .showMobile {
    display: block;
    flex-shrink: 0;
    margin: auto;
    max-width: 348px;
    margin-top: 30px;
  }

  .servicesContainer {
    display: none;
  }

  .bestQuote {
    flex-direction: column;
    height: 100%;
    max-height: 100%;
  }

  .bestQuoteMain {
    order: 2;
    position: relative;
    max-width: 100%;
    max-height: calc(100vh - 100px);
    width: 100%;
    padding: 20px;
  }

  .bestQuoteHeader {
    display: none;
  }
}

.discountBanner {
  border: 1px solid var(--gray-extra-light);
  background-color: var(--gray-extra-light);
  border-radius: 12px;
  padding: 24px;
  margin-top: 20px;
}

.discountLabel {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.discountText {
  font-size: 14px;
  line-height: 20px;
}

.discountWord {
  font-weight: bold;
}

.discountPercent {
  font-weight: bold;
  color: #FA0004;
}

.orderInfo {
  padding: 20px 20px 0 20px;
}

.orderTitle {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 12px;
}

.orderItem {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 12px;
}

.orderDisclaimer {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary);
  margin-bottom: 12px;
}

.orderDivider {
  margin-bottom: 12px;
  border: none;
  border-top: 1px solid #e7e7eb;
}

.mobilePriceExpanded .orderTitle,
.mobilePriceExpanded .orderItem {
  color: white;
}

.mobilePriceExpanded .orderDisclaimer {
  color: #ccc;
}

.mobilePriceExpanded .orderDivider {
  border-top-color: #333;
}

button.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px;
  height: auto;
  border-radius: 99999px;
  width: 40px;
  height: 40px;
  z-index: 10;
  color: #fff;
  border-color: var(--gray) !important;
}

.mobileBackButton {
  display: none;
}

@media (min-width: 1024px) {
  .discountText {
    max-width: 365px;
  }
}

@media (max-width: 1024px) {
  .mobileBackButton {
    display: block;
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    z-index: 10;
  }

  .mobileBackButton svg {
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
  }

  .discountBanner {
    border: 1px solid var(--gray-extra-light);
    background-color: var(--gray-extra-light);
    border-radius: 12px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 64px;
  }

  .discountLabel {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}