.form {
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    max-height: 100%;
}

.fieldLabel {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
}

.optionsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 8px;
    max-width: 736px;
    grid-auto-rows: 120px;
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.bestQuoteTitle {
    font-weight: 500;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 40px;
}


@media (max-width: 980px) {
    .optionsGrid {
        grid-template-columns: repeat(auto-fit, minmax(159px, 0.5fr));
        margin-left: auto;
        margin-right: auto;
    }
}