.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 76px;
}

.video {
  height: auto;
  transition: width 0.05s ease-out, border-radius 0.3s ease-out;
}